#about {
    display: flex;
    gap: 48px;
    justify-content: space-between;
    width: 100%;
    padding: 40px 40px;
    padding-top: 0;
}

.profile-picture img {
    border-radius: 10px;
    width: 368px;
    height: 440px;
    object-fit: cover;
}

.profile-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    min-height: 440px;
}

.profile-content h2 {
    color: #F3D853;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}